<!DOCTYPE html>
<html>
	<head>
		<title>AngularJS - Single Page CRUD</title>
		<link rel="shortcut icon" href="img/favicon.png">
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<script src="js/angular.js"></script>
		<script src="js/app.js"></script>
	</head>
	<!-- menset awa aplikasi -->
	<body ng-app="MyApp" ng-controller="MyCtrl" style="padding-top: 15px;">
		<div class="container">
			<div class="row">
				<fieldset>
					<legend>Data</legend>
					<!-- membuat tabel untuk merender data -->
					<!-- dapatkan semua data dari server pada saat aplikasi pertama kali dijalankan -->
					<table class="table table-striped">
						<thead>
							<th>Nama</th>
							<th>Alamat</th>
							<th>No. Telp</th>
							<th>E-mail</th>
							<th>Pilihan</th>
						</thead>
						<tbody>
							<!-- inputan untuk memasukkan data -->
							<tr>
								<td>
									<input type="text" class="form-control" ng-model="memberForm.nama" placeholder="Nama Lengkap" />
								</td>
								<td>
									<input type="text" class="form-control" ng-model="memberForm.alamat" placeholder="Alamat" />
								</td>
								<td>
									<input type="text" class="form-control" ng-model="memberForm.telp" placeholder="No. Telpon / HP" />
								</td>
								<td>
									<input type="text" class="form-control" ng-model="memberForm.email" placeholder="E-mail" />
								</td>
								<td>
									<button class="btn btn-primary" ng-click="simpanData()">Simpan</button>
								</td>
							</tr>
						</tbody>
					</table>
				</fieldset>
				<fieldset>
					<legend>View</legend>
					<!-- membuat tabel untuk merender data -->
					<!-- dapatkan semua data dari server pada saat aplikasi pertama kali dijalankan -->
					<table class="table table-striped table-hover" ng-init="tampilData()">
						<thead>
							<th>#</th>
							<th>Nama</th>
							<th>Alamat</th>
							<th>No. Telp</th>
							<th>E-mail</th>
							<th>Pilihan</th>
						</thead>
						<tbody>
							<!-- ng-repeat untuk merender semua data pelanggan -->
							<tr ng-repeat="item in dataPelanggan">
								<td>{{$index+1}}</td> <!-- nomor baris -->
								<td>{{item.nama}}</td>
								<td>{{item.alamat}}</td>
								<td>{{item.telp}}</td>
								<td>{{item.email}}</td>
								<td>
									<!-- tombol untuk menset inputan sesuai dengan baris yang dipilih agar bisa diedit -->
									<button class="btn btn-xs btn-success" ng-click="ubah(item,memberForm)">Ubah</button>
									<!-- tombol untuk menghapus data -->
									<button class="btn btn-xs btn-danger" ng-click="hapusData(item.id)">Hapus</button>
								</td>
							</tr>
						</tbody>
					</table>
				</fieldset>
			</div>
		</div>
	</body>
</html>
